.window {
    background-color: #110030;
}

.label {
    background-image: none;
    color: white;
    font-family:'Segoe UI';
    font-size: 14px;
    border-radius: 0;
    border: none;
}

.entry {
    color: #1c004f;
    font-family:'Segoe UI';
    font-size: 14px;
    border-radius: 0;
    border: none;
}

.entry:focus {
    opacity: 0.8;
}

.button {
    background-image: none;
    color: rgb(247, 247, 247);
    background-color:  rgb(120, 170, 223);
    font-family:'Segoe UI';
    font-size: 14px;
    text-shadow: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.button:hover {
    background-color:  rgb(21, 87, 157);
   
}

.chat-window {
    background-color:#009999;
    border: none;
}

.text_window {
    border: none;
}
.buttons_window {
    background-image: none;
    font-weight: bold;
    border: none;
}

.list_button {
    border: none;
    background-image: none;
    color: #0f0675;
    background: #5CCCCC;
    box-shadow: none;
    margin: 15px;
    font-weight: bold;
    font-family:'Segoe UI';
    font-size: 14px;
    padding-left: 15px; 
    padding-top: 15px;  
    text-shadow: none;
}

.list_button:active {
    background-color: rgb(0, 47, 89);
    background: #0f0675;
    text-shadow: none;
    border-radius: 0;
    border: none;
    
}

.reference {
    font-family:'Segoe UI';
    font-size: 10px;
    color: #06266F;
}

.theme-button {
    color: white;
    border: none;
    font-family:'Segoe UI';
    font-size: 10px;
    border-radius: 0;
    background: #009999;
    text-shadow: none;
    box-shadow: none;
}

.theme-button:hover {
    background: #06266F;
    opacity: 0.7;
}

.theme-button:active {
    opacity: 1;
}

.language-button {
    color: white;
    border: none;
    font-family:'Segoe UI';
    font-size: 10px;
    border-radius: 0;
    background: #009999;
    text-shadow: none;
    box-shadow: none;
}

.language-button:hover {
    background: #06266F;
    opacity: 0.7;
}

.language-button:active {
    opacity: 1;
    color: #06266F;
}

.send-field {
    color:#06266F;
    font-weight: bold;
    background-color: #33CCCC;
    font-family:'Segoe UI';
    font-size: 16px;
    border: none;
    border-radius: 0;
    text-shadow: none;
    box-shadow: none;
}

.send-button {
    color: #fefefe;
    background: #006363;
    border: none;
    font-family:'Segoe UI';
    font-size: 16px;
    font-weight: bold;
    border-radius: 0;
    text-shadow: none;
    box-shadow: none;
    
}


.send-button:hover {
    color: #ffffff;
    background-color: #06266F;
    /* opacity: 1; */
}

.send-button:active {
    background-color: #20459a;
    opacity: 1;
}

.chat-label {
    font-family:'Segoe UI';
    font-size: 10px;
    color: #06266F;
}

.chat-field {
    border:none;
    border-radius: 0;
    font-family:'Segoe UI';
    font-size: 16px;
    
}
.chat-text {
    color: #fefefe;
    font-family:'Segoe UI';
    background-color: #006363;
    border: none;
    font-size: 16px;
}


.entry-field {
    border-radius: 0;
    font-family:'Segoe UI';
    font-weight: bold;
    font-size: 14px;
    color: #fefefe;
    background: #006363;
    border: none;
}


.entry-button {
    color: #fefefe;
    background: #006363;
    border: none;
    font-family:'Segoe UI';
    font-size: 14px;
    font-weight: bold;
    border-radius: 0;
    text-shadow: none;
    box-shadow: none;
    
}

.entry-button:hover {
    color: #ffffff;
    background-color: #06266F;
    opacity: 1;
}

.entry-button:active {
    opacity: 1;
    background-color: #20459a;
}

.list_button {
    background-image: none;
    background-color: #006363;
    color: rgb(255, 255, 255);
    margin: 5px;
    font-weight: bold;
    font-family:'Segoe UI';
    font-size: 16px;
    border-radius: 0;
    text-shadow: none;
    box-shadow: none;
}

.list_button:hover {
    background-color: #06266F;
    color: white;
}

.list_button:active {
    opacity: 0.5;
}

/* //////////////////////////////////////////////////////////////// */

.chat-window.dark_theme {
    background-color: #06266F;
}

.dark_theme .theme-button {
    background-color: #06266F;
    color: white;
    border: none;
    font-family: 'Segoe UI';
    font-size: 10px;
    font-weight: lighter;
}

.dark_theme .theme-button:hover {
    background-color:rgb(163, 177, 227);
    opacity: 0.7;
    color: white;
}

/* .dark_theme .theme-button:active {
    background-color: rgb(56, 60, 74);
    color: rgb(114, 122, 123);
} */

.dark_theme .language-button {
    background-color: #06266F;
    color: white;
    border: none;
    font-family: 'Segoe UI';
    font-size: 10px;
    font-weight: lighter;
}

.dark_theme .language-button:hover {
    background-color:rgb(163, 177, 227);
    color: white;
}

/* .dark_theme .language-button:active {
    background-color: rgb(56, 60, 74);
    color: rgb(114, 122, 123);
} */

.dark_theme .reference {
    color: white;
    font-weight: lighter;
}

.dark_theme .send-field {
    background-image: none;
    background-color: rgb(71, 88, 150);
    color: white;
    font-size: 14px;
    box-shadow: none;
    font-family: 'Segoe UI';
    font-weight: lighter;
}

.dark_theme .send-button {
    background-color: rgb(71, 88, 150);
    color: white;
    font-size: 14px;
    font-family: 'Segoe UI';
    font-weight: lighter;
}

.dark_theme .send-button:hover {
    background-color: rgb(163, 177, 227);
    color: white;
    font-weight: lighter;
}

.dark_theme .send-button:active {
    background-color: rgb(56, 60, 74);
    color: rgb(114, 122, 123);
}

.dark_theme .chat-label {
    color: white;
    font-weight: lighter;
}

.dark_theme .entry-button {
    background-image: none;
    background-color: rgb(71, 88, 150);
    color: #fefefe;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-weight: lighter;
}

.dark_theme .entry-button:hover {
    background-color: rgb(163, 177, 227);
    color: white;
    font-weight: lighter;
}

.dark_theme .entry-button:active {
    background-color: rgb(56, 60, 74);
    color: rgb(114, 122, 123);
}

.dark_theme .entry-field {
    background-image: none;
    background-color:rgb(71, 88, 150);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: lighter;
}

.dark_theme .list_button {
    background-image: none;
    background-color:rgb(71, 88, 150);
    color: #fefefe;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    margin: 5px;
}

.dark_theme .list_button:hover {
    background-color: rgb(163, 177, 227);
    color: white;
}

.dark_theme .list_button:active {
    background-color: rgb(56, 60, 74);
    color: rgb(114, 122, 123);
}


.dark_theme .chat-label {
    font-family:'Segoe UI';
    font-size: 10px;
    color: #fefefe;
}

.dark_theme .chat-field {
    border:none;
    border-radius: 0;
    font-family:'Segoe UI';
    font-size: 16px;
    
}
.dark_theme .chat-text {
    color: #fefefe;
    font-family:'Segoe UI';
    background-color: rgb(71, 88, 150);
    border: none;
    font-size: 16px;
    font-weight: lighter;
}


.dark_theme .entry-field {
    border-radius: 0;
    font-family:'Segoe UI';
    font-weight: bold;
    font-size: 14px;
    font-weight: lighter;
    color: #fefefe;
    background-color: rgb(71, 88, 150);
    border: none;
}


.dark_theme .entry-button {
    color: #fefefe;
    background: rgb(71, 88, 150);
    border: none;
    font-family:'Segoe UI';
    font-size: 14px;
    font-weight: lighter;
    border-radius: 0;
    text-shadow: none;
    box-shadow: none;
    
}

.dark_theme .entry-button:hover {
    color: #ffffff;
    background-color: rgb(163, 177, 227);
    opacity: 1;
}

.dark_theme .entry-button:active {
    opacity: 1;
    background-color: #20459a;
}

.dark_theme .list_button {
    background-image: none;
    background-color: rgb(71, 88, 150);
    color: rgb(255, 255, 255);
    margin: 5px;
    font-weight: lighter;
    font-family:'Segoe UI';
    font-size: 16px;
    border-radius: 0;
    text-shadow: none;
    box-shadow: none;
}

.dark_theme .list_button:hover {
    background-color: rgb(163, 177, 227);
    color: white;
}

.dark_theme .list_button:active {
    opacity: 0.5;
}




